<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		 <!--begin localhost-->
	  	<property name="hibernate.connection.url">jdbc:mysql://localhost/projecthl7</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		 <!--end localhost-->
		 
	  <!-- config http://138.47.102.216:8080/-->
	  	<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost/testprojecthl7</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
	  <!-- config http://138.47.102.216:8080/-->
	  
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<!-- Show and print nice SQL on stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- List of XML mapping files -->
		<mapping resource="com/example/model/Provider.hbm.xml" />
		<mapping resource="com/example/model/Personal.hbm.xml" />
		<mapping resource="com/example/model/Country.hbm.xml" />
		<mapping resource="com/example/model/City.hbm.xml" />
		<mapping resource="com/example/model/Admin.hbm.xml" />
		<mapping resource="com/example/model/Online.hbm.xml" />
		<mapping resource="com/example/model/ProviderService.hbm.xml" />
		<mapping resource="com/example/model/SystemControl.hbm.xml" />
		<mapping resource="com/example/model/ProviderStaff.hbm.xml" />
	</session-factory>

</hibernate-configuration>


